<!DOCTYPE html>
<html ng-app="mockBackend">
<head>
    <title>test - Angular mockBackend</title>
</head>
<body ng-controller="mockController">
<ul id="apples" ng-repeat="apple in apples">
    <li>
        <span>{{apple.name}}</span>
    </li>
</ul>
<ul id="oranges" ng-repeat="orange in oranges">
    <li>
        <span>{{orange.name}}</span>
    </li>
</ul>
<ul id="users" ng-repeat="user in users">
    <li>
        <span>{{user.name}}</span>
    </li>
</ul>
<ul id="groups" ng-repeat="group in groups">
    <li>
        <span>{{group.name}}</span>
    </li>
</ul>

<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-resource.min.js"></script>
<script>
    angular.module('mockBackend', ['ngResource', 'vinkaga.mockBackend'])
            .config(['$provide', '$httpProvider', function($provide, $httpProvider) {
                $provide.factory('errInterceptor', function() {
                    return {
                        'requestError': function(rejection) {
                            return rejection;
                        },
                        'responseError': function(rejection) {
                            return rejection;
                        }
                    };
                });
                $httpProvider.interceptors.push('errInterceptor');
                $httpProvider.interceptors.push(function() {
                    return {
                        'request': function(config) {
                            config.url = config.url.replace('_rem', '');
                            return config;
                        },
                        'response': function(response) {
                            if (angular.isArray(response.data)) {
                                if (response.data) {
                                    response.data.map(function(obj) {
                                        obj.name += '_add';
                                        return obj;
                                    });
                                }
                            }
                            return response;
                        }
                    };
                });
            }])
            .controller('mockController', ['$scope', '$resource', function($scope, $resource) {
                $scope.apples = $resource('/apples').query();
                $scope.oranges = $resource('/oranges?size=10', undefined, {
                    query: {
                        method: 'get',
                        isArray: true,
                        headers:{'Content-Type':'application/json'},
                        transformRequest: function(data, headers) {
                            return data;
                        },
                        transformResponse: function(data, headers) {
                            var darray = angular.fromJson(data) || [];
                            return darray.map(function(obj) {
                                obj.name += '_orange';
                                return obj;
                            });
                        }
                    }
                }).query();
                $scope.users = $resource('/users').query();
                $scope.groups = $resource('/groups', undefined, {
                    query: {
                        method: 'get',
                        isArray: true,
                        headers:{'Content-Type':'application/json'},
                        transformRequest: [function(data, headers) {
                            return data;
                        }],
                        transformResponse: [function(data, headers) {
                            var darray = angular.fromJson(data) || [];
                            return darray.map(function(obj) {
                                obj.name += '_group';
                                return obj;
                            });
                        }]
                    }
                }).query();

                var User = $resource('/users/05');
                var user = new User();
                user.name = 'post_fail';
                user.$save();
            }]);
</script>
</body>
</html>