<!DOCTYPE html>
<html ng-app="mockBackend">
<head>
    <title>backend-less - Angular mockBackend</title>
</head>
<body  ng-controller="mockController">
<h2>it should have 2 names after 500ms</h2>
<ul id="users" ng-repeat="user in users">
    <li>
        <span>{{user.name}}</span>
    </li>
</ul>
<h2>it should have 2 groups after 2 seconds</h2>
<ul id="groups" ng-repeat="group in groups">
    <li>
        <span>{{group.name}}</span>
    </li>
</ul>

<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-resource.min.js"></script>
<script src="/mock-angular.js"></script>
<script>
    /*
     * Mock definitions, one with direct data and another with function
     */
    function delaygroup(method, url, params, data, headers) {
        return method.toLowerCase() == 'get' && url == '/groups' ? true : undefined;
    }
    var mocks = [
        [['get', '/users', undefined, undefined, undefined], 500, {data:[  // Mock data with delay
            {name: 'john'},
            {name: 'angular'}
        ]}],
        [delaygroup, 2000, undefined]  // Server data with delay
    ];
    angular.module('vinkaga.mockBackend').constant('vinkaga.mockBackend.mock', mocks);

    angular.module('mockBackend', ['ngResource', 'vinkaga.mockBackend'])
            .controller('mockController', ['$scope', '$resource', function($scope, $resource) {
                $scope.users = $resource('/users').query();
                $scope.groups = $resource('/groups').query();
            }]);
</script>
</body>
</html>